html {
    box-sizing: border-box;
    font-size: 10px;
    background-image: url(grass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 49% 56%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
  }
  
  h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
  }

  .btn-primary {
    -webkit-box-shadow: 1px 4px 10px 3px rgba(0,0,0,.25);
    box-shadow: 1px 4px 10px 3px rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #199fd2;
    padding: 1.4rem 15rem;
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: 6px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgb(0,0,0,.70);
    position: absolute;
    bottom: 30px;
    left: 33%;
  }

  .btn-primary:hover {
    cursor: pointer;
    background-color: #6F00FF;
    transition: 2s;
  }
  
  .score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
  }
  
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }

  .hole1 {
    top: -54px;
    left: -77px;
  }

  .hole2 {
    top: 0px;
    left: 20px;
  }

  .hole3 {
    top: -46px;
    left: 100px;
  }

  .hole4 {
    top: -54px;
    left: -77px;
  }

  .hole5 {
    top: -3px;
    left: -57px;
  }

  .hole6 {
    top: -47px;
    left: 29px;
  }

  .hole:hover {
    cursor: url("mallet.png"), auto;
  }
  
  .hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }
  
  .mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }
  
  .hole.up .mole {
    top: 0;
  }
  